<div class="personal">
    <button color="primary" mat-button routerLink='/home' [state]="{tracingId: 123}">Back</button>
    <div>
        <div>
            <h2>Personal Info</h2>
            <div>
                <div *ngFor='let user of userData'>
                    <mat-divider></mat-divider>
                    <div>
                        <img width="75" height="75" src="assets/{{user.Profile_Image}}">
                    </div>
                    <mat-list>
                        <mat-list-item> ID: {{user.Id}} </mat-list-item>
                        <mat-list-item> Full Name :{{user.Full_Name}} </mat-list-item>
                        <mat-list-item> Username : {{user.Username}} </mat-list-item>
                        <mat-list-item> Position : {{user.Position}} </mat-list-item>
                        <mat-list-item> Manager Name : {{user.Manager_Name}} </mat-list-item>
                        <mat-list-item> Email : {{user.Email}} </mat-list-item>
                        <mat-list-item> Phone Number : {{user.Phone}} </mat-list-item>
                    </mat-list>

                </div>
            </div>

        </div>
    </div>
</div>