.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.login {
  background: white;
  height: 100%;
  width: 100%;
  max-height: 650px;
  padding: 0px 30px;
  border-radius: 25px 0px 0px 25px;
}
.login-inner {
  height: 700px;
  max-width: 850px;
  width: 100%;
}
.side {
  border-radius: 0px 25px 25px 0px;
  background: white;
  border-left: 1px solid black;
  width: 100%;
  height: 100%;
  max-height: 650px;
  align-items: center;
  justify-content: center;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.header-login {
  font-size: 19px;
  margin: 58px 0px;
  width: 100%;
}

.mat-form-field {
  width: 100%;
}
.sign-n {
  margin-bottom: 10px;
}
.matr {
  margin-top: 5%;
}
@media only screen and (max-width: 600px) {
  .login-inner {
    height: 100%;
  }
  .login {
    max-height: none;
    border-radius: 0;
  }
}
