.homepage {
  padding: 0px 15px;
}
.table-users {
  max-width: 850px;
  margin: 25px auto;
}
table {
  width: 100%;
}
.s-fields {
  margin-bottom: 5%;
}
.input-search {
  height: 55px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.b-search {
  width: 100%;
  height: 100%;
}
tr.row-element:not(.example-expanded-row):hover {
  background: #efefef;
  cursor: pointer;
}
